.newsletter {
    padding: 50px 20px;
    background-color: black;
    text-align: center;
    color: #fff;
  }
  
  .newsletter h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .newsletter form {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .newsletter input {
    padding: 10px;
    font-size: 1em;
    border: none;
    flex: 1;
  }
  
  .newsletter button {
    padding: 10px 20px;
    background-color: #f39c12;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .newsletter button:hover {
    background-color: #fff;
    color: #f39c12;
  }