

.services {
  padding: 50px 0;
  background-color: black;
}

.services h2 {
  text-align: center;
  font-size: 36px;
  color: #333;
  margin-bottom: 40px;
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.service-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.service-card img {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}

.service-card h3 {
  font-size: 24px;
  color: #333;
  margin: 20px 0;
}

.service-card p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

.service-card:hover {
  transform: translateY(-10px);
}


@media screen and (max-width: 1024px) {
  .service-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .service-cards {
    grid-template-columns: 1fr;
  }
}
